$celadon-blue: #3a7ca5;
$gainsboro: #d9dcd6;
$blue-munsell: #1b9aaaff;
$green-cyan: #2d936c;
$indigo-dye: #16425b;
$amaranth: #df3b57;
$amber: #ffbe0b;

$primary: $celadon-blue;
$secondary: $gainsboro;
$info: $blue-munsell;
$success: $green-cyan;
$dark: $indigo-dye;
$danger: $amaranth;
$warning: $amber;

@import "~bootstrap/scss/bootstrap.scss";
@import "toastify-js/src/toastify.css";
